body{
    background:whitesmoke;
    height: 100%;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    background:rgba(199, 154, 201, 0.479);
    justify-content:center ;
    align-items: center;
}
.messageBox{
    width: 350px;
    height:auto;
    background-color:white;
    box-shadow:1.5px 1.5px 7px rgb(150, 150, 150);
    opacity: 80%;
    border-style: solid rgb(23, 18, 70);
    border: 5px;
    border-radius: 5px 5px 5px 5px;
}
.container2{
   color: black;
}
    
.stepShower{
    overflow-y: scroll;
    overflow-x:scroll ;
}
.header{
    width: 100%;
    
 }

.messagecontainer{
    height:300px;
    overflow-y: scroll;
    overflow-x:scroll ;
}
.collectItmes{
   height: 355px;
}
.items{
   -webkit-box-flex: initial;
   list-style-type: none;
   padding: 0px;
}
.msBody{
   position: relative;
   height: 60px;
   width: 116%;
   list-style: none;
   position: relative;
   left: -25px;
   margin-top: 0px;
   height: 75px;
   margin-left: 4px;
   border-bottom:1px rgb(235, 235, 235) solid ;
   list-style-type: none;
   
   
    
}
.msactive{
    
    border-left:4px solid green;
    background-color: rgb(191, 245, 180);
}
    



.avtaar{
    height: 50px;
    width:50px;
    border-radius: 50%;
}
.time{
    font-size: 12px;
    font-weight:normal;
    font-family: monospace;
}
.message{
    height:28px;
    font-size: 13px;
    font-weight:normal;
    
}

.container3{
    width: 100%;
    align-items: center;
}
.footter{
    margin-top: 80px;
}

@media only screen and (max-width: 575px) {
    .ROWW{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .container1{
        width: auto;
    }
  }
